<header>
    <div class="panel padding-10 bg-primary">
        <div class="row">
            <div class="col-2 d-flex justify-content-center align-items-center" style="height: inherit;">
                <img [src]="currentImage" class="img-fluid" style="max-height: 80px; width: auto;" alt="Image centrée">
            </div>
            <div class="col-8">
                <div>
                    <h1 class="title d-flex justify-content-center">Bienvenu sur le site non officiel de Star Wars !
                    </h1>
                </div>
                <div class="col-12 d-flex justify-content-center flex-nowrap">
                    <div class="d-flex justify-content-center"><a routerLink="/accueil"
                            routerLinkActive="gras">Accueil</a></div>
                    <div class="d-flex justify-content-center"><a routerLink="/personnages"
                            routerLinkActive="gras">Personnages</a></div>
                    <div class="d-flex justify-content-center"><a routerLink="/planetes"
                            routerLinkActive="gras">Planètes</a></div>
                    <div class="d-flex justify-content-center"><a routerLink="/vaisseaux"
                            routerLinkActive="gras">Vaisseaux</a></div>
                    <div class="d-flex justify-content-center"><a routerLink="/vehicule"
                            routerLinkActive="gras">Véhicules</a></div>
                    <div class="d-flex justify-content-center"><a routerLink="/espece"
                            routerLinkActive="gras">Espèces</a></div>
                    <div class="d-flex justify-content-center"><a routerLink="/film"
                            routerLinkActive="gras">Films</a></div>
                </div>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center flex-wrap">
                <div class="row"><a class="d-flex padding-0 justify-content-center align-items-center text-center"
                        routerLink="/a-propos" routerLinkActive="gras">À propos</a></div>
                <div class="row"><a class="d-flex padding-0 justify-content-center align-items-center text-center"
                        routerLink="/formulaire-recherche" routerLinkActive="gras">Recherches spécifique</a></div>
            </div>
        </div>
    </div>
</header>