<footer class="bg-secondary padding-10">
    <div>
        <div class="row">
            <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-center">Email du créateur : <a
                        href="mailto:malo.barbaud@isen.yncrea.fr" class="px-1">malo.barbaud&#64;isen.yncrea.fr</a></div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-center">Email du meilleur contributeur du site : <a
                    href="mailto:frederic.chauchon@yncrea.fr" class="px-1">Meilleur professeur d'Angular</a></div>
        </div>
    </div>
</footer>