<div>
    <h1 class="title d-flex justify-content-center">BARBAUD Malo</h1>
    <div class="d-flex flex-nowrap">
        <div class="d-flex justify-content-center">
            <img src="LeMagnifiqueAuteurDuSite.png" alt="Ça, ça fait mal à l'égo...">
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <p><strong>Nom : </strong>Barbaud</p>
                    <p><strong>Nationnalité : </strong>Française (Sudiste)</p>
                    <p><strong>Niveau d'étude actuel : </strong>ISEN M1 option Dev-Logiciel (Bac+4)</p>
                    <p>"À l'ISEN ton plan de base c'est ton plan de secours."</p>
                    <p>"Un ingénieur c'est un technicient qui a suffisament de connaissances pour réparer le datacenter avec du scotch."</p>
                </div>
                <div class="col-4">
                    <p><strong>Prénoms : </strong>Malo, Pierre, Yves-Marie</p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12">
                    <h3>Occupations extra-scolaire :</h3>
                    <ul class="list-group">
                        <li class="list-group-item">Créer des petits chats en crochet pour ensuite les jeter sur ses camarades de classe. Toujours aucune sanction à ce jours.</li>
                        <li class="list-group-item">Débatre avec les multiples voix dans sa tête.</li>
                        <li class="list-group-item">Créer et organiser des jeux de rôles (vous savez : "le jeu auquel ils jouent dans stranger things")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<app-star-wars-text></app-star-wars-text>