<div class="container mt-5">
    <h3 class="text-center mb-4">Bien le bonjour, visiteur&nbsp;!</h3>
    <p class="lead">
      Vous vous trouvez actuellement sur la page d'accueil de ce site, qui utilise une API non officielle de Star Wars.
      Star Wars n'étant pas encore tombé dans le domaine public, je crains qu'on ne me brise les genoux si je
      n'ajoute pas la mention «&nbsp;non officiel&nbsp;»…<br>
      Pour donner un peu de contexte, permettez-moi de vous présenter rapidement l'API et le site&nbsp;!
    </p>
  
    <hr>
  
    <h4>Quelle est l'API utilisée&nbsp;?</h4>
    <p>
      L'API utilisée est 
      <a href="https://swapi.dev" target="_blank">https://swapi.dev</a>, 
      qui est (ou était) une ressource très pratique. 
      Comme vous pourrez le constater en consultant les problèmes rencontrés dans la section 
      «&nbsp;<a routerLink="/a-propos" class="text-color-primary" routerLinkActive="gras" style="color: black;">À propos</a>&nbsp;»,
      j'ai rencontré quelques difficultés quant à la fiabilité du site…
    </p>
  
    <hr>
  
    <h4>Quelles sont les fonctionnalités du site&nbsp;?</h4>
    <p>
      Tout en haut, dans la barre de navigation, vous trouverez plusieurs sections portant des noms tels que 
      «&nbsp;<a routerLink="/personnages" class="text-color-primary" routerLinkActive="gras" style="color: black;">Personnages</a>&nbsp;», 
      «&nbsp;<a routerLink="/film" class="text-color-primary" routerLinkActive="gras" style="color: black;">Films</a>&nbsp;», etc.
      En cliquant dessus, vous accéderez à la page correspondante, où sont affichées les ressources tirées de l'API.
      Au bas de ces ressources, vous verrez une ou plusieurs cases indiquant le nombre de pages disponibles 
      (et non, il n'existe pas de fonctionnalité pour réduire le nombre de cases s'il y en a trop&nbsp;: 800 pages&nbsp;? 800 cases&nbsp;!).
      En cliquant sur l'une de ces cases grises, vous afficherez ses détails en bas de la page.<br>
      Si vous souhaitez rechercher un élément particulier, rendez-vous sur la page 
      «&nbsp;<a routerLink="/formulaire-recherche" class="text-color-primary" routerLinkActive="gras" style="color: black;">Recherche spécifique</a>&nbsp;». 
      Pour l'utiliser, rien de plus simple&nbsp;: commencez à taper votre recherche et patientez quelques instants.
    </p>
  </div>
  